@page "/"
@using EdgeDB
@using System.Collections.Generic
@using System.Net.Http
@using System.Text.Json
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@page "/login"

<EditForm Model="@login" OnValidSubmit="HandleLogin">
    <div class="container">
        <label for="UserName">UserName:</label>
        <InputText id="UserName" @bind-Value="login.UserName" class="form-control" required />

        <label for="Password">Password:</label>
        <InputText id="Password" @bind-Value="login.Password" type="password" class="form-control" required />

        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</EditForm>

<style>
    .container {
        max-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .form-control {
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
        background-color: #f1f1f1;
        width: 100%;
    }

    .btn-primary {
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
    }
</style>


@code {
    private Login login = new Login();

    private async Task HandleLogin()
    {
        var response = await HttpClient.PostAsJsonAsync("/login", login);
        
        var content = await response.Content.ReadAsStringAsync();

        var contact = JsonSerializer.Deserialize<Contact>(content);

        if (contact.role == "Admin")
        {
            NavigationManager.NavigateTo("/AddContact");
        }
        else
        {
            NavigationManager.NavigateTo("/ViewUsers");
        }
    }
}