<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.PostgreSql (Npgsql)" connectionString="Database=MigrationTest;Server=localhost;Port=5432;User Id=postgres;Password="/>
	</connectionStrings>
</configuration> 