@page
@model IndexModel
@{
    ViewData["Title"] = "Login Page";
}

@if(!User.Identity.IsAuthenticated){
<body>
	 <form method="post">
		<label for="UserName">UserName:</label>
		<input type="text" id="UserName" name="UserName" required>

		<label for="Password">Password:</label>
		<input type="password" id="Password" name="Password" required>

		<input type="submit" value="Login">
	</form>
</body>
}
@if(User.Identity.IsAuthenticated)
{
    <body>
        <h1>Welcome 2023 intern, How are you?</h1>
        <form method="post" asp-page-handler="Logout">
            <button type="submit">Log Out</button>
        </form>
    </body>
}

<style>
		

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			background-color: #fff;
			border-radius: 10px;
			height: 300px;
			width: 300px;
		}

		input[type="text"], input[type="password"] {
			padding: 10px;
			margin: 10px;
			border-radius: 5px;
			background-color: #f1f1f1;
			width: 100%;
		}

		input[type="submit"] {
			padding: 10px;
			margin: 10px;
			border-radius: 5px;
			background-color: #4CAF50;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
			width: 100%;
		}
		button[type="submit"] {
			padding: 10px;
			margin: 10px;
			border-radius: 5px;
			background-color: #4CAF50;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
			width: 100%;
		}
	</style>